@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Games Manager</h1>
    <table class="table">
        <caption></caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Company</th>
                <th scope="col">Genre</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Elden Ring</th>
                <td>FromSoftware</td>
                <td>Souls-like | RPG</td>
                <td>2022</td>
            </tr>
        </tbody>
    </table>
</div>
